In [8]:
import json
import pandas as pd

with open("../data/translated_questions/questions_en.json", "r") as f:
    questions = json.load(f)
with open("../data/translated_questions/questions_te.json", "r") as f:
    questions_te = json.load(f)
with open("../data/chosen_cols_updated.json", "r") as f:
    chosen_cols = json.load(f)['chosen_cols']
df = pd.read_csv("../gemma_responses/most_frequent_answers_allstates_india_en.csv")

for q in questions:
    if chosen_cols[q] == True and q in df.columns and q not in questions_te:
        print(q)

In [3]:
import pandas as pd
import json

df = pd.read_csv("../gemma_responses/most_frequent_answers_allstates_india_en.csv")
for region, group in df.groupby('region'):
    filename = f"../gemma_responses/most_frequent_answers_{region}_en.csv"
    group.to_csv(filename, index=False)

In [ ]:
from scoring import analyze_survey_alignment, compute_similarity_per_theme
import pandas as pd
import json

### Indian States
Indian States of West Bengal, Telengana/Andhra Pradesh, Maharashtra, Delhi are considered for this analysis

In [4]:
import pandas as pd

total_results = {}

languages = {
    'telangana': 'te',
    'bengal': 'bn',
    'delhi': 'hi',
    'maharashtra': 'mr'
}

for state in ['telangana', 'bengal', 'maharashtra', 'delhi']:
    en_results = analyze_survey_alignment(mode='state', year='2022', state=state, model='gemma', region_wise=False, verbose=False)
    ln_results = analyze_survey_alignment(mode='state', year='2022', state=state, model='gemma', language=languages[state], region_wise=False, verbose=False)
    total_results[state] = {
        'State': state,
        'soft_metric_en': en_results['soft_metric'],
        'hard_metric_en': en_results['hard_metric'],
        'soft_metric_ln': ln_results['soft_metric'],
        'hard_metric_ln': ln_results['hard_metric']
    }
    
final_table = pd.DataFrame.from_dict(total_results, orient='index')
display(final_table)

,State,soft_metric_en,hard_metric_en,soft_metric_ln,hard_metric_ln
telangana,telangana,0.671702,0.312036,0.701273,0.367140
bengal,bengal,0.655924,0.334004,0.654505,0.306849
maharashtra,maharashtra,0.596114,0.296593,0.562756,0.245810
delhi,delhi,0.677164,0.364030,0.677769,0.325984

In [8]:
languages = {
    'japan': 'ja',
    'US': 'en',
    'russia': 'ru'
}

total_results = {}

for country in ['japan']:
    en_results = analyze_survey_alignment(mode='country', year='2022', country=country, model='gemma', region_wise=False, verbose=False)
    ln_results = analyze_survey_alignment(mode='country', year='2022', country=country, model='gemma', language=languages[country], region_wise=False, verbose=False)
    total_results[country] = {
        'Country': country,
        'soft_metric_en': en_results['soft_metric'],
        'hard_metric_en': en_results['hard_metric'],
        'soft_metric_ln': ln_results['soft_metric'],
        'hard_metric_ln': ln_results['hard_metric']
    }
    
final_table = pd.DataFrame.from_dict(total_results, orient='index')
display(final_table)

      Country  soft_metric_en  hard_metric_en  soft_metric_ln  hard_metric_ln
japan   japan        0.776615        0.426676        0.781745        0.357553